<p id="notice"><%= notice %></p>

<p>
  <strong>Origin:</strong>
  <%= @tuna.origin %>
</p>

<p>
  <strong>Fish:</strong>
  <%= @tuna.fish.name %>
</p>

<%= link_to 'Edit', edit_tuna_path(@tuna) %> |
<%= link_to 'Back', tunas_path %>
